:root {
  --offset: 0px;
--blur: 2px;
}
body {
margin: 0;
}
header {
height: 160px;
position: relative;
overflow: hidden;
}
header>div {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;


}

header>div>img {
display: block;
width: 110%;
height: 100%;
object-fit: cover;

transform: translatex(var(--offset));
filter: blur(var(--blur));
}